.wrapper {
  position: absolute;
  width: 1288px;
  margin: 0 238px;
}

.foto {
  width: 120px;
  margin-left: 40px;
  border-radius: 100px;
}

.icono {
  margin-top: 70px;
  margin-left: 30px;
  width: 30px;
}
.icono:hover {
  width: 32px;
}

.about-area,
.services-area,
.portfolio-area,
.contact-area {
  height: 100vh;
}
.text-content h2 {
  text-transform: uppercase;
  font-size: 90px;
  margin: 0;
  color: #fff;
  text-shadow: 0 5px 10px #000;
}

.side-navbar {
  height: 100%;
  width: 248px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #181818;
  overflow-x: hidden;
  padding-top: 20px;
}

.items {
  padding: 40px 10px 10px 40px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.side-navbar a:hover {
  color: wheat;
}
.content-area {
  /* margin-left: 230px; */
  padding: 0 10px;
}
#about,
#services,
#portfolio,
#contact {
  background: #1d1d1d;
}

html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
  .wrapper {
    position: absolute;
    align-items: center;
    width: 100%;
    height: 1000px;
    margin: 0 0;
  }
  .about-area,
  .services-area,
  .portfolio-area,
  .contact-area {
    height: 70vh;
  }
  .side-navbar {
    height: 0;
    width: 0;
  }
  .content-area {
    align-items: center;
    padding: 0 0;
  }
  .about-area {
    align-items: center;
  }
}
