.containerAbout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: 100%;
  align-items: center;
}
.textContent {
  margin: 10%;
}
.textContent h1 {
  margin-bottom: 20px;
  color: wheat;
  font-size: 60px;
  text-align: left;
  /* text-align: center; */
}
.textContent p {
  font-size: 15px;
  text-align: justify;
  margin-top: 8px;
  color: white;
}
.video2 {
  width: 600px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .containerAbout {
    height: 40vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .textContent h1 {
    font-size: 30px;
    text-align: center;
  }
  .textContent p {
    font-size: 10px;
  }
  .video2 {
    width: 200px;
    border-radius: 10px;
  }
  .videoContent {
    display: flex;
    justify-content: center;
  }
}
